---
---
<!DOCTYPE html>
<html>

<head>

    {% include head.html %}

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title> {{ site.title }} </title>
    <meta name="description" content="{{ site.name }} - {{ site.description }}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/landing.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

</head>

<body>
    <div class="content"> 
        <header class="title">
            <div class="title-wrapper">
                <div class="information">
                    <h1> {{ site.author.name }} </h1>
                    <p> {{ site.author.title }} </p>
                    <nav class="nav-links">
                        <a class="nav-link" href="/about" alt="About">About</a>            
                        <a class="nav-link" href="/blog" alt="Blog">Blog</a>
                    </nav>
                </div>
                <div class="contact">
                    <div class="contact-avatar"><img src="/assets/img/me_small.jpg"/></div>
                    <div class="contact-networks">
                        {% if site.contact.facebook %}<a class="contact-link fa fa-facebook" href="{{ site.contact.facebook }}"></a>{% endif %}
                        {% if site.contact.googleplus %}<a class="contact-link fa fa-google-plus" href="{{ site.contact.googleplus }}"></a>{% endif %}
                        {% if site.contact.twitter %}<a class="contact-link fa fa-twitter" href="{{ site.contact.twitter }}"></a>{% endif %}
                        {% if site.contact.github %}<a class="contact-link fa fa-github" href="{{ site.contact.github }}"></a>{% endif %}
                        {% if site.contact.linkedin %}<a class="contact-link fa fa-linkedin" href="{{ site.contact.linkedin }}"></a>{% endif %}
                    </div>
                </div>
            </div>
        </header>
    </div> 
</body>

    {% include analytics.html %}

</html>
