<footer>
    <div class="footer-wrapper">
        <div class="information">
            <p class="hl"> {{ site.description}} </p> 
            <p> {{ site.author.name }} - {{ site.author.title }} </p>
            <p>Copyright © {{ site.year }}</p> 
        </div>
        <div class="contact">
            <div class="contact-avatar"><img src="/assets/img/me_small.jpg"/></div>
            <div class="contact-networks">
                {% if site.contact.facebook %}<a class="contact-link fa fa-facebook" href="{{ site.contact.facebook }}"></a>{% endif %}
                {% if site.contact.googleplus %}<a class="contact-link fa fa-google-plus" href="{{ site.contact.googleplus }}"></a>{% endif %}
                {% if site.contact.twitter %}<a class="contact-link fa fa-twitter" href="{{ site.contact.twitter }}"></a>{% endif %}
                {% if site.contact.github %}<a class="contact-link fa fa-github" href="{{ site.contact.github }}"></a>{% endif %}
                {% if site.contact.linkedin %}<a class="contact-link fa fa-linkedin" href="{{ site.contact.linkedin }}"></a>{% endif %}
            </div>
        </div>
    </div>
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
</footer>
