---
---
@import "posts";
@import "footer";

// TODO: Refactor
$break_small: 500px;
$break_medium: 800px;
$break_large: 1600px;

$avatar_size: 202px;
$color_background: ghostwhite;
$color_green: #284d13;
$color_nav_selected: wheat;
$color_nav_background: #26272c;
$color_nav_text: #fff;
$color_nav_text_hover: #dddbdb;

body {
    margin: 0;
    font-size: 18px;
    background-color: $color_background;
}

.wrapper {
    width: 80%;
    max-width: 60em;
    margin: auto;
}

.header {

    height: 60vw;
    max-height: 85vh;
    min-height: 10em;
    background: url('/assets/img/banner_india_small.jpg');
    background-position: center center;
    background-size: cover;
    position: relative;
    text-align: center;

    .avatar {

        width: 100%;
        position: absolute;
        bottom: 1em;
        display: none;

        img {
            height: 125px;
            border-radius: 100%;
            border: 5px solid $color_background;
            background-color: $color_background;
        }
    }

    .home-icon {
        top: 50px;
        left: 50px;
        position: absolute;
    }

    .maintitle {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        font-size: 4em;
        color: $color_nav_text;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.37);
    }

    // Ghost element for centering
    &::before {
        content: '';
        display: inline-block;
        height: 100%;
        margin-right: 0;
        vertical-align: middle;
        width: 1px;
    }
}

.mainnav {

    text-align: center;
    padding: 15px 0 15px 0;
    font-family: 'Open Sans', sans-serif;
    margin: auto;
    background-color: $color_nav_background;

    .mainnav-link {

        padding: 3px 8px;

        &.selected {
            border-bottom: 3px solid $color_nav_selected;
        }
    }

    > a {

        margin: 0 20px;
        font-size: 2.3rem;
        text-decoration: none;
        position: relative;
        cursor: pointer;
        color: $color_nav_text;
        transition: color ease-out .2s;

        &:hover {
            color: $color_nav_text_hover;
        }
    }
}

.content {

    padding-top: 2.5em;

    .post-excerpt {
        p {
            margin: 0;
        }
    }
    .post-info {

        font-size: .8em;

        > span {
            color: #9EABB3;

            span {
                color: #4A4A4A;
            }
        }

        .tag {
            cursor: pointer;
            text-decoration: none;
        }
    }
}

.pagination {

    text-align: center;
    font-size: 0.8em;
    display: flex;
    flex-flow: column;
    justify-content: center;

    a {
        text-decoration: none;
        margin: 1em;
        padding: 0.5em;
        border: 1px solid #9EABB3;
        border-radius: 2px;
        color: #9EABB3;

        &:hover {
            color: #49565e;            
        }
    }
}

@media only screen and (min-width: $break_medium) {

    .header {
        height: 40em;

        .avatar {
            img {
                min-width: $avatar_size; // Prevent from wiggling when loading
                min-height: $avatar_size;
            }
        }

        .maintitle {
            font-size: 7em;
            padding-top: 1em;
        }
    }

    .pagination {
        flex-flow: row;
        align-items: center;

        a {
            line-height: 1em;
        }
    }
}

@media only screen and (min-width: $break_medium) {
    .header {
        background-image: url('/assets/img/banner_india.jpg');
        height: 44em;

        .avatar {
            display: block;
        }
    }
}

@media only screen and (min-width: $break_large) {
    .header {
        max-height: none;
    }
}

