<!DOCTYPE html>
<html>
<head>

    {% include head.html %}

    <title>{% if page.title %}{{ page.title }}{% elsif site.name %}{{ site.name }}{% endif %}</title>
    <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>

        <header class="header {{ page.current }}">
            <span class="home-icon"></span>
            {% if page.type == 'post' %}
                 <h1 class="maintitle">{{ page.title | capitalize }}</h1>
            {% else %}
                {% if page.current == 'about' %}
                    <div class="avatar">
                        <img src="/assets/img/me_small.jpg">
                    </div>
                {% endif %}
                <h1 class="maintitle">{{ page.current | capitalize }}</h1>
                {% if page.tag %}
                    <h2 class="subtitle">{{ page.tag | capitalize }}</h2>
                {% endif %} 
            {% endif %}
        </header>

        <nav class="mainnav {{ page.current }}">
            <a class="mainnav-link {% if page.current == 'about' %}selected{% endif %}" href="/about">About</a>
            <a class="mainnav-link {% if page.current == 'blog' %}selected{% endif %}" href="/blog">Blog</a>
        </nav>

        <div class="wrapper">
            <section class="content">
                {{ content }}
            </section>
        </div>
    </div>

    {% include footer.html %}

</body>

{% include analytics.html %}

{% if page.type == 'post' %}

{% comment %}
    $break_small: 500px;
    $break_medium: 800px;
    $break_large: 1600px;
{% endcomment %}

<style>

.header.blog {
    background-image: url('{{ page.cover }}_small.jpg');
}

@media only screen and (min-width: 800px) {

    .header {
        height: 44em;
        max-height: none;
    }

    .header.blog {
        background-image: url('{{ page.cover }}_medium.jpg');
        background-size: cover;
    }
}

@media only screen and (min-width: 1600px) {

    .header.blog {
        background-image: url('{{ page.cover }}.jpg');
    }
}

</style> 
{% endif %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
</html>
