---
layout: page
class: 'tag-template'
navigation: True
current: blog
---

<!--
{% if page.url contains 'fables' %}
   {% assign tag_description='A series of short stories that make you think.' %}
{% elsif page.url contains 'speeches' %}
    {% assign new_cover='assets/images/cover7.jpg' %}
    {% assign tag_description='Some of the greatest words ever spoken.' %}
{% elsif page.url contains 'fiction' %}
    {% assign new_cover='assets/images/cover1.jpg' %}
{% endif %}
-->

<main id="content" class="content" role="main">

    {% include postloop.html %}

</main>
